/* Select by tagname */
h1 {
   color: red;
}
#owl {
    float: right;
    padding-left: 50%;
    padding-right: 50%;
}
  /* Select by classname */
.header-alt {
    background: green;
    border-bottom: 16px solid red;
}

   /* Select a single element by its ID */
#header-primary {
   text-transform: uppercase;
   color: yellow;
   background: black;
}

/* Select all H1s AND all .header-alts */
h1,
.header-alt {
   border-top: 16px solid blue;
}

/* Use descendent selectors */
div p {
    font-style: italic;
    font-size: 1em;
    text-align: right;
    padding-left: 50%;
    margin-right: 10%;
}

/* Target all p's and a's inside of divs */
#outside {
    text-align:left;
    padding-right:50%;
    background: black;
    color: white;
}
